MIDlet-1: FreeMap,/roadmap-24.png,Main
MIDlet-Jar-URL: FreeMap.jar
MIDlet-Name: FreeMap
MIDlet-Vendor: Ehud Shabtai
MIDlet-Version: 0.10.0
MIDlet-Icon: /roadmap-24.png
MicroEdition-Configuration: CLDC-1.1
MicroEdition-Profile: MIDP-2.0
