Source: freemap-il
Section: user/utils
Priority: optional
Maintainer: Matan Ziv-Av <matan@svgalib.org>
Build-Depends: debhelper (>> 3.0.0), libpopt-dev, libgtk2.0-dev, libagg-dev, libfribidi-dev, liblocation-dev
Standards-Version: 3.6.1

Package: freemap-il
Architecture: armel
Depends: ${misc:Depends}, ${shlibs:Depends}, libagg
Recommends:
Description: GPS based car navigation system integrated with freemap.co.il

