Source: roadmap
Section: utils
Priority: optional
Maintainer: Petter Reinholdtsen <pere@debian.org>
Build-Depends: debhelper (>> 3.0.0), dpatch, imagemagick, libpopt-dev, libgtk2.0-dev, libshp-dev
Standards-Version: 3.6.1

Package: roadmap
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: gpsdrive
Description: GPS based car navigation system
 A navigation system that displays US street maps (from the US Census
 Bureau) and tracks a vehicle using GPS. Specific areas can be
 displayed by selecting a street address (street number & name, city,
 and state). RoadMap can also run on iPAQ and Zaurus.

Package: roadmap-maps
Architecture: all
Description: Simple map for RoadMap car navigation system
 Initial map for RoadMap, making sure it works out of the box.
 Additional maps can be downloaded from the net.

